
.vs/PersonTraking/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.exe
*.ilk
*.pdb
*.obj
*.log
*.recipe
*.tlog
*.idb
*.vcxproj
*.filters
*.user
*.iobj
*.ipdb
*.sln
PersonTraking/build/CMakeFiles/TargetDirectories.txt
PersonTraking/build/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
PersonTraking/build/CMakeFiles/3.20.0/CompilerIdC/CMakeCCompilerId.c
PersonTraking/build/CMakeFiles/3.20.0/VCTargetsPath.txt
PersonTraking/build/CMakeFiles/cc96b4e8f639b3cc2edc1e53ffae9310/generate.stamp.rule
PersonTraking/build/CMakeFiles/cmake.check_cache
PersonTraking/build/CMakeFiles/3.20.0/CMakeRCCompiler.cmake
PersonTraking/build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_C.bin
PersonTraking/build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_CXX.bin
PersonTraking/build/CMakeFiles/3.20.0/CMakeCCompiler.cmake
PersonTraking/build/cmake_install.cmake
PersonTraking.sln
build/CMakeFiles/generate.stamp.list
PersonTraking/build/CMakeCache.txt
PersonTraking/build/CMakeFiles/generate.stamp.list
PersonTraking/build/CMakeFiles/generate.stamp
PersonTraking.sln
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.0/CMakeSystem.cmake
build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_C.bin
build/CMakeCache.txt
build/CMakeFiles/3.20.0/CMakeCCompiler.cmake
build/CMakeFiles/3.20.0/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.0/VCTargetsPath.txt
PersonTraking/build/CMakeFiles/3.20.0/CMakeCXXCompiler.cmake
PersonTraking/build/CMakeFiles/3.20.0/CMakeSystem.cmake
PersonTraking/build/CMakeFiles/generate.stamp.depend
PersonTraking/build/.vs/PersonTracking/v16/.suo
PersonTraking/CMakeLists.txt
